
<html>
  <head>
    <title>Register Form</title>
  </head>

  <body>
     
           <h3>Give Your Details Here</h3>
           
           <form action="" method="">
           
            <table>
              
               <tr>
                  <td>Email:</td>
                  <td>
                     <input   type="text" name="Email" placeholder="Enter Email">
                  </td>
               </tr>
              
              
               <tr>
                 <td>Phone:</td>
                 <td>
                  <input  type="number" name="phone" placeholder="Enter Phone">
                 </td>
                </tr>
               <tr>
                  <td>
                    <button routerLink="/seatSelection"  cursor="" type="submit" >Submit</button> 
                  </td>
                </tr>
                
                <router-outlet></router-outlet>

           </table>





           </form>
           
    
        
  </body>
  <router-outlet></router-outlet>

</html>