<head>
    <style>
      .button {
        background-color: #009879;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 2px 2px;
        cursor: pointer;
        margin: auto;
        display:block;

      }
      </style>
  </head>
  <br>
  <br>
  <br>
<div id="continue-login">	
    <div id="continue">
        <button  class="button" routerLink="/userLogin" >Continue with login</button><br><br>
        <button class="button" routerLink="/unauthorised">Fast Booking Process</button><br><br>
        <button class="button" routerLink="/homePage" >Back</button>	
    </div>
    <router-outlet></router-outlet>
</div>
<br>
